@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");






@media (min-width: 981px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }


    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: #d63131;
        background: url(/images/b3.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .val {
        text-align: center;
        margin-top: -100px;
        margin-bottom: 10px;
        color: black;
        font-size: 80px;
    }

    .valu {
        text-align: center;
        margin-top: -150px;
        margin-bottom: 10px;
        color: black;
        font-size: 15px;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 200px;
    }


    .login-box {
        background: transparent;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        padding: 10px;
        text-align: center;
        width: 300px;
    }

    .login-box h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .login-box button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
    }

    .login-box input {
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }

    .login-box i {
        font-size: 20px;
    }

    .links a {
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-size: 10px;
        justify-content: space-between;
        display: inline;
    }

    .links a:hover {
        text-decoration: underline;
    }
}

@media (max-width: 980px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }


    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: #d63131;
        background: url(/images/b3.jpg) no-repeat;
        background-size: cover;
    }

    .val {
        text-align: center;
        margin-top: -100px;
        margin-bottom: 10px;
        margin-left: 10px;
        color: black;
        font-size: 60px;
    }

    .valu {
        text-align: center;
        margin-top: -100px;
        margin-bottom: 10px;
        color: black;
        font-size: 15px;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .login-box {
        background: transparent;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        padding: 10px;
        text-align: center;
        width: 300px;
    }

    .login-box h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .login-box button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
    }

    .login-box input {
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }

    .login-box i {
        font-size: 20px;
    }

    .links a {
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-size: 10px;
        justify-content: space-between;
        display: inline;
    }

    .links a:hover {
        text-decoration: underline;
    }
}